@{
    ViewBag.Title = "CONTACTANOS";
}
<h2>@ViewBag.Title</h2>

<address>
    EDIFICIO OPERDONNY<br />
    Calle Yara on 522, Surquillo<br />
    <abbr title="Phone">llamanos ya!!</abbr>
    (01)4462514
</address>

<address>
    <strong>Christian:</strong>   <a href="mailto:17100832@ue.edu.pe">17100832@ue.edu.pe</a><br />
    <strong>Julio:</strong> <a href="mailto:Marketing@example.com">17100843@ue.edu.pe</a><br />
    <strong>Javier:</strong> <a href="mailto:Marketing@example.com">17100829@ue.edu.pe</a><br />
    <strong>Gerardo:</strong> <a href="mailto:Marketing@example.com">000000@ue.edu.pe</a><br />
</address>